<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/style/multipong.css" />
        <script src="/script/jquery-1.7.1.min.js"></script>
        <script src="/script/socket.io/socket.io.js"></script>
        <script type="text/javascript">            
            var socket = io.connect('http://' + window.location.host);
            var h = 0;
            var w = 0;
            $(document).ready(function(){
                w = $("#game").width();
                h = $("#game").height();
                $("#ball").css('width', h * <%= game.ballRadius*2 %>);
                $("#ball").css('height', h * <%= game.ballRadius*2 %>);
                $("#ball").css('-moz-border-radius', h * <%= game.ballRadius %>);
                $("#ball").css('border-radius', h * <%= game.ballRadius %>);
            });
            socket.on('connect', function(){
                $('#message').html('<%= game.title %> display connected');
                socket.emit('newDisplay');
            });
            socket.on('update', function(data){
                $('.player').hide();
                $('#ball').hide();
                var i;
                for(i=0; i<data.state.players.left.length; i++){
                    drawPlayer(data.state.players.left[i], "left", i);
                }
                for(i=0; i<data.state.players.right.length; i++){
                    drawPlayer(data.state.players.right[i], "right", i);
                }
                $("#ball").css('top', h * (data.state.ball.y - <%= game.ballRadius %>));
                $("#ball").css('left', w * data.state.ball.x - h * <%= game.ballRadius %>);
                $('#ball').show();
                $('#leftScore').html(data.state.score.left);
                $('#rightScore').html(data.state.score.right);
            });
            function drawPlayer(player, side, number){
                var div = $('.player#' + side + number);
                if(div.length == 0){
                    var container = $('#leftField');
                    if(side == "right"){
                        container = $('#rightField');
                    }
                    container.append('<div class="player" id="' + side + number + '" style="height:' + h * <%= game.paddleWidth %> + 'px; width: ' + w * <%= game.paddleThickness %> + 'px;"></div>');
                    div = $('.player#' + side + number);
                }
                if(side == "right"){
                    div.css('left', w * player.x - $("#leftField").width() - w * <%= game.paddleThickness/2 %>);
                }else{
                    div.css('left', w * player.x - w * <%= game.paddleThickness/2 %>);
                }
                div.css('top', h * player.y);
                div.css('background-color', player.color);
                div.show();
            }
        </script>
    </head>
    <body>
        <div id="message">Not Connected</div>
        <div id="game">
            <div id="leftField"></div>
                <div class="score" id="leftScore"></div>
            <div id="rightField"></div>
                <div class="score" id="rightScore"></div>
            <div id="ball"></div>
        </div>
    </body>
</html>
